<h2>Add a new image for your users</h2>

<%= form_for [:admin, @image] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.submit %>
<% end %>
