<h3>All them Categories</h3>
<div id=background >
<% if current_admin? %>
<%= link_to 'Create a new category', new_admin_category_path %>
<% end %>
<ul>
  <% @categories.each do |category| %>
  <li id='category_<%= category.id %>'>
    <%= link_to category.name, category_path(category) %>
    <%= category.name %>
    <% if current_admin? %>
    <%= link_to "Edit", edit_admin_category_path(category) %>
    <%= link_to "Delete", admin_category_path(category), method: "delete" %>
    <% end %>
  </li>
  <% end %>
</ul>
</div>
