
 <h3>Check out those images</h3>
 <% if current_admin? %>
 <%= link_to 'Create a new image', new_admin_image_path %>
 <% end %>
 <ul>
   <% @images.each do |image| %>
   <li id='image_<%= image.id %>'>
     <%= image_tag(image.url) %>
     <%= link_to image.name, image_path(image) %>
     <% if current_admin? %>
     <%= link_to "Edit", edit_admin_image_path(image) %>
     <%= link_to "Delete", admin_image_path(image), method: "delete" %>
     <% end %>
   </li>
   <% end %>
 </ul>
